/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Paul Albertson - palbertson@stompweb.com custom styles
   ========================================================================== */
  
/* Fonts */ 
//@inika:'Inika', serif;
//@orienta:'Orienta', sans-serif;
@cutive:'Cutive', sans-serif;
@droid:'Droid Sans', sans-serif;

.droid11{font-family:@droid; font-size:11px;}
.droid14{font-family:@droid; font-size:14px;}
.droid15{font-family:@droid; font-size:15px;}
.droid16{font-family:@droid; font-size:16px;}
.droid18{font-family:@droid; font-size:18px;}
.droid24{font-family:@droid; font-size:24px;}

.cutive11{font-family:@cutive; font-size:11px;}
.cutive14{font-family:@cutive; font-size:14px;}
.cutive15{font-family:@cutive; font-size:15px;}
.cutive16{font-family:@cutive; font-size:16px;}
.cutive18{font-family:@cutive; font-size:18px;}
.cutive20{font-family:@cutive; font-size:20px;}
.cutive22{font-family:@cutive; font-size:22px;}
.cutive24{font-family:@cutive; font-size:24px;}
.cutive30{font-family:@cutive; font-size:30px;}


//stoke
//cutive

/* colors */

@havenOrange:#ed482c;
.havenOrange{color:@havenOrange;}

@bottomNavGray:#7f8182;
.ltGray{color:@bottomNavGray}

.whiteLinkBackground{padding:2px 5px 2px 5px; width:72px;display:block;background:#ffffff;}



/* Utility */
h1{font-family:@cutive;font-weight:normal;}
h2 {font-family:@cutive;font-weight:normal;margin-bottom:0;padding-bottom:0;}
.textCenter{text-align:center;}
.fontBold{font-weight:bold;}
.bottomNavLineSpace{line-height:1.1;}
.contentH1LineSpace{line-height:1.15;}
.contentLineSpace1_3{line-height:1.3;}
.contentLineSpace1_1{line-height:1.1;}
.adminFooterTitle{font-size:.8em; text-align:right;}
.adminFooterTitleOffset{font-size:.8em; text-align:center;}
.marginTop5px{margin-top:5px;}
.marginBottom5px{margin-bottom:5px;}
.marginTop10px{margin-top:5px;}
.marginBottom10px{margin-bottom:5px;}
.backgroundYellow{padding:5px 5px 5px 5px; background-color:#e7d100;}
img.paddingTop300px{padding-top:300px;}
img.paddingBot100px{padding-bottom:100px;}
.textItalic{font-style:italic;}
ul.ulMarginSet{list-style:none; padding:0px;margin-left:0px;margin-top:0px;margin-bottom:0px;}
ol.olMarginSet{padding-left:25px;margin-top:0px;margin-bottom:0px;}
li.liMarginSet{padding-left:0px; background-image:url("../img/global/bulletImage.gif"); background-repeat:no-repeat;background-position: 0px 1px; padding-left: 25px;}


/* links stuff */
a:link {text-decoration:underline;color:#ed482c;}
a:visited {text-decoration:none;color:#f7931e;}
a:hover {text-decoration:underline; color:#f7931e;}
a:active {text-decoration:underline;}

a.bottomLinksNav:link {text-decoration:none;color:#333333;}
a.bottomLinksNav:visited {text-decoration:none;color:#333333;}
a.bottomLinksNav:hover {text-decoration:underline;}
a.bottomLinksNav:active {text-decoration:underline;}

/* Intro related */  
@clientHeight: 400px;
@baseBackgroundZ:5;
@startOpacity:0;
       
#container{margin-left:auto; margin-right:auto;width:960px;}
#introContainer {position:relative; top:0px;}
#campusImage{position:absolute;z-index:@baseBackgroundZ;}
#campusHouse{position:absolute;left:450px; top:305px; z-index: 10; width:120px; height: auto;image-rendering: optimizeQuality; -ms-interpolation-mode: bicubic; }
#hmPgLogo{position:absolute;left:0px; top:0px; z-index: 10; height: auto; opacity:@startOpacity; filter: alpha(opacity=0);}

/* Share Container */

#shareContainer{width:200px;left:740px;margin-top:5px;z-index:100;position:absolute;opacity:@startOpacity; filter: alpha(opacity=0);background-color:#ffffff;}
#shareContainerSubPages{width:200px;left:640px;margin-top:5px;z-index:100;position:absolute;}
a.addthis_button{padding-left:2px;}
a.paddingSet{margin-top:5px;}

/* home page body copy related */ 
#hmPageHeaderH1{position:absolute; left:0px; top:54px; z-index: 10; width:960px; opacity:@startOpacity; filter: alpha(opacity=0); font-size:12px; background-color:#ffffff;}
#hmPageCopy{position:absolute;top:560px; z-index: 10; width:960px; opacity:@startOpacity; filter: alpha(opacity=0); background-color:#ffffff;}
#hmPgIntroHeader{ opacity:@startOpacity; filter: alpha(opacity=0); font-size:14px; font-weight:400;background-color:#ffffff;}
#hmPgIntroCopy{ z-index: 10; opacity:@startOpacity; filter: alpha(opacity=0);margin-top:1px;background-color:#ffffff;}
#hmPgBottomLinks{width:890px; height:40px; margin-left:auto; margin-right:auto;margin-top:15px; padding-top:10px;opacity:0; filter: alpha(opacity=0);background-image:url("../img/homepage/the-haven-homepage-home-bottom-nav-back.jpg");}
#subPgBottomLinks{width:820px; height:40px; margin-left:200px; padding-top:10px; margin-bottom:0px; background-repeat: no-repeat; background-image:url("../img/homepage/the-haven-homepage-home-bottom-nav-back.jpg");}


/* Home Page Buttons*/
/* Less Variables */
@homeOverStateZ:12;
@homeOffStateZ:13;
@homeDotsZ:14;
@visibilityOff:0;
@visibilityOn:1;


/* debug values */
@testVisibility:visible;

/* Home page buttons */

#homePgButtons{overflow:inherit;}
//background-color: #ffffff\9;

#hmPageFeatureBanner{position:absolute; right:0px; top:30px; opacity:@visibilityOff; filter: alpha(opacity=0); z-index: @homeDotsZ;}

#communityBtnDiv{position:relative; width:100px;left:49px; top:140px; opacity:0; filter: alpha(opacity=0);}
#communityBtnDots{position:absolute; left:210px; top:80px; opacity:@visibilityOn; filter: alpha(opacity=0); z-index: @homeDotsZ; }
#communityBtnOff{position:absolute; opacity:@visibilityOn; filter: alpha(opacity=0); z-index: @homeOffStateZ; }
#communityBtnOver{position:absolute; opacity:@visibilityOff; filter: alpha(opacity=0); z-index: @homeOverStateZ; }

#studentsBtnDiv{position:relative; width:100px;left:618px; top:106px; opacity:0; filter: alpha(opacity=0);}
#studentsBtnDots{position:absolute; left:5px; top:70px; opacity:@visibilityOn; filter: alpha(opacity=0); z-index: @homeDotsZ;}
#studentsBtnOff{position:absolute; opacity:@visibilityOn; filter: alpha(opacity=0); z-index: @homeOffStateZ;}
#studentsBtnOver{position:absolute; opacity:@visibilityOff; filter: alpha(opacity=0); z-index: @homeOverStateZ;}

#typDayBtnDiv{position:relative; width:100px;left:49px; top:271px; opacity:0; filter: alpha(opacity=0);}
#typDayBtnDots{position:absolute; left:180px; top:50px; opacity:@visibilityOn; filter: alpha(opacity=0); z-index: @homeDotsZ;}
#typDayBtnOff{position:absolute; opacity:@visibilityOn; filter: alpha(opacity=0); z-index: @homeOffStateZ;}
#typDayBtnOver{position:absolute; opacity:@visibilityOff; filter: alpha(opacity=0); z-index: @homeOverStateZ;}

#parentsBtnDiv{position:relative; width:100px;left:618px; top:211px; opacity:0; filter: alpha(opacity=0);}
#parentsBtnDots{position:absolute; left:0px; top:60px; opacity:@visibilityOn; filter: alpha(opacity=0); z-index: @homeDotsZ;}
#parentsBtnOff{position:absolute; opacity:@visibilityOn; filter: alpha(opacity=0); z-index: @homeOffStateZ;}
#parentsBtnOver{position:absolute; opacity:@visibilityOff; filter: alpha(opacity=0); z-index: @homeOverStateZ;}

#treatProsBtnDiv{position:relative; width:100px;left:618px; top:320px; opacity:0; filter: alpha(opacity=0);}
#treatProsBtnDots{position:absolute; left:0px; top:50px; opacity:@visibilityOn; filter: alpha(opacity=0); z-index: @homeDotsZ;}
#treatProsBtnOff{position:absolute; opacity:@visibilityOn; filter: alpha(opacity=0); z-index: @homeOffStateZ;}
#treatProsBtnOver{position:absolute; opacity:@visibilityOff; filter: alpha(opacity=0); z-index: @homeOverStateZ;}

#universAdminBtnDiv{position:relative; width:100px;left:49px; top:423px; opacity:0; filter: alpha(opacity=0);}
#universAdminBtnDots{position:absolute; left:210px; top:40px; opacity:@visibilityOn; filter: alpha(opacity=0); z-index: @homeDotsZ;}
#universAdminBtnOff{position:absolute; opacity:@visibilityOn; filter: alpha(opacity=0); z-index: @homeOffStateZ;}
#universAdminBtnOver{position:absolute; opacity:@visibilityOff; filter: alpha(opacity=0); z-index: @homeOverStateZ;}

#contactBtnDiv{position:relative; width:100px;left:618px; top:461px; opacity:0; filter: alpha(opacity=0);}
#contactBtnDots{position:absolute; left:0px; top:0px; opacity:@visibilityOn; filter: alpha(opacity=0); z-index: @homeDotsZ;}
#contactBtnOff{position:absolute; opacity:@visibilityOn; filter: alpha(opacity=0); z-index: @homeOffStateZ;}
#contactBtnOver{position:absolute; opacity:@visibilityOff; filter: alpha(opacity=0); z-index: @homeOverStateZ;}

/* Coming soon overlay */

#homepageComingSoonOverlay{position:absolute;width:585px; height:23px; top:552px; left:188px; padding-top:3px;color:#FFFFFF; background:#000000; z-index: @homeDotsZ;opacity:0; filter: alpha(opacity=0);}


/* ==========================================================================
 * Side Navigation
 * ==========================================================================*/ 

#sideNavigationContainer{position:fixed; width:169px; height:613; padding-top:0px;}
#sideNavigationLogoContainer{position:relative;width:169px; height:112px; margin-left:0px;}
#sideNavigation{position:relative; width:169px; height:613px;background-image:url("../img/global/sideNavigationBackground.gif");}

#studentsSideBtnDiv{position:relative; width:169px;top:29px;}
#studentsSideButtonOff{position:absolute; z-index:@homeOffStateZ;}
#studentsSideButtonOver{position:absolute; z-index:@homeOverStateZ;opacity:@visibilityOff; filter: alpha(opacity=0);}

#parentsSideBtnDiv{position:relative; width:169px;top:103px;}
#parentsSideButtonOff{position:absolute; z-index:@homeOffStateZ;}
#parentsSideButtonOver{position:absolute; z-index:@homeOverStateZ;opacity:@visibilityOff; filter: alpha(opacity=0);}

#universAdminSideBtnDiv{position:relative; width:169px;top:180px;}
#universAdminSideButtonOff{position:absolute; z-index:@homeOffStateZ;}
#universAdminSideButtonOver{position:absolute; z-index:@homeOverStateZ;opacity:@visibilityOff; filter: alpha(opacity=0);}

#treatmentProsSideBtnDiv{position:relative; width:169px;top:270px;}
#treatmentProsSideButtonOff{position:absolute; z-index:@homeOffStateZ;}
#treatmentProsSideButtonOver{position:absolute; z-index:@homeOverStateZ;opacity:@visibilityOff; filter: alpha(opacity=0);}

#contactSideBtnDiv{position:relative; width:169px;top:353px;}
#contactSideButtonOff{position:absolute; z-index:@homeOffStateZ;}
#contactSideButtonOver{position:absolute; z-index:@homeOverStateZ;opacity:@visibilityOff; filter: alpha(opacity=0);}

#communitySideBtnDiv{position:relative; width:169px;top:429px;}
#communitySideButtonOff{position:absolute; z-index:@homeOffStateZ;}
#communitySideButtonOver{position:absolute; z-index:@homeOverStateZ;opacity:@visibilityOff; filter: alpha(opacity=0);}

#atypicalSideBtnDiv{position:relative; width:169px;top:515px;}
#atypicalSideButtonOff{position:absolute; z-index:@homeOffStateZ;}
#atypicalSideButtonOver{position:absolute; z-index:@homeOverStateZ;opacity:@visibilityOff; filter: alpha(opacity=0);}

          
 /* ==========================================================================
 * Subpage Content 
 * ==========================================================================*/ 
/* Students Page */
#studentsMainContent{position:relative; height:4300px; width:800px; left:170px;}

#studentsRowOneContent{position: relative; width:760px;height:530px;}
#studentsRowOneContentLeft{position:relative; float:left; padding-top:150px; padding-left:110px;}
#studentsRowOneContentRight{position:relative; float:right; padding-top:60px; padding-bottom:20px; padding-right:0px;}

#studentsRowTwoContent{position: relative; width:800px; }
#studentsRowTwoContentLeft{position:relative; float:left; padding-top:40px; padding-bottom:20px; padding-left:100px; }
#studentsRowTwoContentRight{position:relative; float:right; padding-top:10px; padding-bottom:30px; padding-right:40px;}

#studentsRowThreeContent{position: relative; width:800px; }
#studentsRowThreeContentLeft{position:relative; float:left; padding-top:70px; padding-left:150px; }
#studentsRowThreeContentRight{position:relative; float:right; padding-top:160px; padding-bottom:200px; padding-right:20px; }

#studentsRowFourContent{position: relative; width:800px; }
#studentsRowFourContentLeft{position:relative; float:left; padding-top:40px; padding-left:120px;  z-index:20;}
#studentsRowFourContentRight{position:absolute; float:right; top:1875px; left: 500px; padding-top:0px; padding-right:20px;z-index:25;}

#studentsRowFiveContent{position: relative; width:800px; }
#studentsRowFiveContentLeft{position:relative; float:left; padding-top:70px; padding-left:40px; }
#studentsRowFiveContentRight{position:absolute; float:right; top:2645px; left: 500px; padding-top:90px; padding-right:0px;z-index:25;}

#studentsRowSixContent{position: relative; width:800px; }
#studentsRowSixContentLeft{position:relative; float:left; padding-top:50px; padding-left:0px; }
#studentsRowSixContentRight{position:relative; float:right; padding-top:120px; padding-right:90px;padding-bottom:20px; }

#studentsRowSevenContent{position: relative; width:800px; }
#studentsRowSevenContentLeft{position:relative; float:left; padding-top:60px; padding-left:120px; padding-bottom:0px; }
#studentsRowSevenContentRight{position:relative; float:right; padding-top:130px; padding-right:40px;padding-bottom:0px; }


/* Parents Page */
#parentsMainContent{position:relative; height:4550px; width:800px; left:200px;}

#parentsRowOneContent{position: relative; width:800px;}
#parentsRowOneContentLeft{position:relative; float:left; padding-top:120px; padding-left:100px; z-index:25;}
#parentsRowOneContentRight{position:absolute; float:right; left:350px; padding-top:40px; padding-bottom:35px; padding-right:0px; z-index:20;}

#parentsRowTwoContent{position: relative; width:800px; }
#parentsRowTwoContentLeft{position:relative; float:left; padding-top:50px; padding-left:0px;}
#parentsRowTwoContentRight{position:relative; float:right; padding-top:0px; padding-right:50px; padding-bottom:50px;}

#parentsRowThreeContent{position: relative; width:850px; }
#parentsRowThreeContentLeft{position:relative; float:left; padding-top:40px; padding-left:100px;}
#parentsRowThreeContentRight{position:relative; float:right; padding-top:100px; padding-bottom:40px; padding-right:0px;}

#parentsRowFourContent{position: relative; width:800px; }
#parentsRowFourContentLeft{position:relative; float:left; padding-top:80px; padding-left:90px;}
#parentsRowFourContentRight{position:relative; float:right; padding-top:0px; padding-right:55px; padding-bottom:0px;}

// #parentsRowFiveContent{position: relative; width:800px; }
// #parentsRowFiveContentLeft{position:relative; float:left; padding-top:60px; padding-left:130px; }
// #parentsRowFiveContentRight{position:relative; float:right; padding-top:30px; padding-right:10px;padding-bottom:10px; }
// 
// #parentsRowSixContent{position: relative; width:800px; }
// #parentsRowSixContentLeft{position:relative; float:left; padding-top:60px; padding-left:40px; }
// #parentsRowSixContentRight{position:relative; float:right; padding-top:120px; padding-right:90px;padding-bottom:20px; }
// 
// #parentsRowSevenContent{position: relative; width:800px; }
// #parentsRowSevenContentLeft{position:relative; float:left; padding-top:60px; padding-left:50px; padding-bottom:0px; }
// #parentsRowSevenContentRight{position:relative; float:right; padding-top:20px; padding-left:0px;padding-right:0px;padding-bottom:0px;}

/* Administrators Page */
#administratorsMainContent{position:relative; height:4800px; width:800px; left:170px;}

#administratorsRowOneContent{position: relative; width:800px;}
#administratorsRowOneContentLeft{position:relative; float:left; padding-top:100px; padding-left:130px;}
#administratorsRowOneContentRight{position:relative; float:right; padding-top:190px; padding-bottom:20px; padding-right:0px;}

#administratorsRowTwoContent{position: relative; width:800px; }
#administratorsRowTwoContentLeft{position:relative; float:left; padding-top:180px; padding-bottom:20px; padding-left:60px; }
#administratorsRowTwoContentRight{position:relative; float:right; padding-top:10px; padding-bottom:30px; padding-right:100px;}

#administratorsRowThreeContent{position: relative; width:800px; }
#administratorsRowThreeContentLeft{position:relative; float:left; padding-top:0px; padding-left:150px; z-index:25;}
#administratorsRowThreeContentRight{position:absolute; float:right; top: 1425px; left:430px; padding-top:170px; padding-bottom:200px; padding-right:0px; z-index:20;}

#administratorsRowFourContent{position: relative; width:800px; }
#administratorsRowFourContentLeft{position:relative; float:left; padding-top:210px; padding-left:90px;  }
#administratorsRowFourContentRight{position:relative; float:right; padding-top:0px; padding-right:30px;}

#administratorsRowFiveContent{position: relative; width:800px; }
#administratorsRowFiveContentLeft{position:relative; float:left; padding-top:220px; padding-left:180px; }
#administratorsRowFiveContentRight{position:relative; float:right; padding-top:80px; padding-right:0px;}

#administratorsRowSixContent{position: relative; width:800px; }
#administratorsRowSixContentLeft{position:relative; float:left; padding-top:50px; padding-left:180px;}
#administratorsRowSixContentRight{position:relative; float:right; padding-top:350px; padding-right:15px;}

#administratorsRowSevenContent{position: relative; width:800px; }
#administratorsRowSevenContentLeft{position:relative; float:left; padding-top:120px; padding-left:180px;}
#administratorsRowSevenContentRight{position:relative; float:right; padding-top:180px; padding-right:15px;}

/* Treatment Professionals Page */
#treatmentProsMainContent{position:relative; height:3500px; width:800px; left:170px;}

#treatmentProsRowOneContent{position: relative; width:800px;}
#treatmentProsRowOneContentLeft{position:relative; float:left; padding-top:100px; padding-left:130px;}
#treatmentProsRowOneContentRight{position:relative; float:right; padding-top:70px; padding-bottom:30px; padding-right:60px;}

#treatmentProsRowTwoContent{position: relative; width:800px; }
#treatmentProsRowTwoContentLeft{position:relative; float:left; padding-top:180px; padding-bottom:20px; padding-left:60px; }
#treatmentProsRowTwoContentRight{position:relative; float:right; padding-top:10px; padding-bottom:30px; padding-right:100px;}

#treatmentProsRowThreeContent{position: relative; width:800px; }
#treatmentProsRowThreeContentLeft{position:relative; float:left; padding-top:0px; padding-left:150px;}
#treatmentProsRowThreeContentRight{position:relative; float:right;padding-top:170px; padding-bottom:120px; padding-right:10px;}

#treatmentProsRowFourContent{position: relative; width:800px; }
#treatmentProsRowFourContentLeft{position:relative; float:left; padding-top:50px; padding-left:50px;  }
#treatmentProsRowFourContentRight{position:relative; float:right; padding-top:10px; padding-right:30px;}

#treatmentProsRowFiveContent{position: relative; width:800px; }
#treatmentProsRowFiveContentLeft{position:relative; float:left; padding-top:50px; padding-left:180px; }
#treatmentProsRowFiveContentRight{position:relative; float:right; padding-top:80px; padding-right:40px;}

/*Community Page*/

#communityMainContent{position:relative; height:1500px; width:800px; left:170px;}

#communityRowOneContent{position: relative; width:800px;}
#communityRowOneContentLeft{position:relative; float:left; padding-top:100px; padding-left:80px;}
#communityRowOneContentRight{position:relative; float:right; padding-top:340px; padding-bottom:30px; padding-right:50px;}

#communityRowTwoContent{position: relative; width:800px; }
#communityRowTwoContentLeft{position:relative; float:left; padding-top:180px; padding-bottom:20px; padding-left:60px; }
#communityRowTwoContentRight{position:relative; float:right; padding-top:10px; padding-bottom:30px; padding-right:100px;}



/* Contact Us Page */
#contactUsMainContent{position:relative; height:7800px; width:800px; left:170px;}

#contactUsRowOneContent{position: relative; width:800px;}
#contactUsRowOneContentLeft{position:relative; float:left; padding-top:100px; padding-left:130px; z-index:25;}
#contactUsRowOneContentRight{position:relative; float:right; padding-top:150px; padding-bottom:0px; padding-right:40px; z-index:20;}

#contactUsRowTwoContent{position: relative; width:800px; }
#contactUsRowTwoContentLeft{position:relative; float:left; padding-top:80px; padding-bottom:20px; padding-left:130px; }
#contactUsRowTwoContentRight{position:relative; float:right; padding-top:100px; padding-bottom:0px; padding-right:110px;}

#contactUsRowThreeContent{position: relative; width:800px; }
#contactUsRowThreeContentLeft{position:relative; float:left; padding-top:70px; padding-left:130px;}
#contactUsRowThreeContentRight{position:relative; float:right;padding-top:0px; padding-bottom:20px; padding-right:110px;}

#contactUsRowFouraContentLeft{position:relative; float:left; padding-top:20px; padding-left:140px;  }
#contactUsRowFouraContentRight{position:relative; float:right;padding-top:0px; padding-bottom:20px; padding-right:110px;}

#contactUsRowFourContent{position: relative; width:800px; }
#contactUsRowFourContentDiv{position:relative; float:left; padding-top:10px; padding-left:140px;  }
// Holly
#contactUsRowFiveContent{position: relative; width:800px; }
#contactUsRowFiveContentLeft{position:relative; float:left; padding-top:80px; padding-left:130px; }
#contactUsRowFiveContentRight{position:relative; float:right; padding-top:0px; padding-right:20px;}
// Sharon
#contactUsRowSixContent{position: relative; width:800px; }
#contactUsRowSixContentLeft{position:relative; width:275px; float:left; padding-top:100px; padding-left:130px; z-index:25;}
#contactUsRowSixContentRight{position:relative; float:right; padding-top:100px; padding-right:100px; z-index:20;}
// Elise
#contactUsEliseRowContent{position: relative; width:800px; }
#contactUsEliseRowLeft{position:relative; float:left; padding-top:80px; padding-left:130px; z-index:25;}
#contactUsEliseRowRight{position:relative; float:right; padding-top:0px; padding-right:40px; z-index:20;}

// Chris
#contactUsRowSevenContent{position: relative; width:800px; }
#contactUsRowSevenContentLeft{position:relative; float:left; padding-top:160px; padding-left:130px; }
#contactUsRowSevenContentRight{position:relative; float:right; padding-top:90px; padding-right:100px;}

//Nick
#contactUsRowEightContent{position: relative; width:800px; }
#contactUsRowEightContentLeft{position:relative; float:left; padding-top:110px; padding-left:140px; z-index:25;}
#contactUsRowEightContentRight{position:relative; float:right; padding-top:30px; padding-right:20px; z-index:20;}
// Stephanie
#contactUsRowNineContent{position: relative; width:800px; }
#contactUsRowNineContentLeft{position:relative; float:left; padding-top:20px; padding-left:150px; z-index:25;}
#contactUsRowNineContentRight{position:relative; float:right; left:20px; padding-top:140px; padding-right:25px; z-index:20;}

// Rosalie
#contactUsRowRosalieContent{position: relative; width:800px; }
#contactUsRowRosalieContentLeft{position:relative; float:left; padding-top:110px; padding-left:140px; z-index:25;}
#contactUsRowRosalieContentRight{position:relative; float:right; padding-top:30px; padding-right:20px; z-index:20;}



// Colleen
#contactUsRowColleenContent{position: relative; width:800px; }
#contactUsRowColleenContentLeft{position:relative; float:left; padding-top:20px; padding-left:150px; z-index:25;}
#contactUsRowColleenContentRight{position:relative; float:right; left:20px; padding-top:140px; padding-right:25px; z-index:20;}

// Kacey
#contactUsRowKaceyContent{position: relative; width:800px; }
#contactUsRowKaceyContentLeft{position:relative; float:left; padding-top:110px; padding-left:140px; z-index:25;}
#contactUsRowKaceyContentRight{position:relative; float:right; padding-top:30px; padding-right:20px; z-index:20;}




// Peter
#contactUsRowPeterContent{position: relative; width:800px; }
#contactUsRowPeterContentLeft{position:relative; float:left; padding-top:20px; padding-left:130px; z-index:25;}
#contactUsRowPeterContentRight{position:relative; float:right; left:-80px; padding-top:140px; padding-right:5px; z-index:20;}

// Jerry
#contactUsRowTenContent{position: relative; width:800px; }
#contactUsRowTenContentLeft{position:relative; float:left; padding-top:160px; padding-left:140px; z-index:25;}
#contactUsRowTenContentRight{position:relative; float:right; padding-top:20px; padding-right:80px; z-index:20;}

#contactUsRowElevenContent{position: relative; width:800px; }
#contactUsRowElevenContentLeft{position:relative; float:left; padding-top:80px; padding-left:140px; }
#contactUsRowElevenContentRight{position:relative; float:right; padding-top:90px; padding-right:100px;}

#contactUsRowTwelveContent{position: relative; width:800px; }
#contactUsRowTwelveContentLeft{position:relative; float:left; padding-top:170px; padding-left:140px; z-index:25;}
#contactUsRowTwelveContentRight{position:relative; float:right; padding-top:20px; padding-right:30px; z-index:20;}

// Dan G
#contactUsRowDanContent{position: relative; width:800px; }
#contactUsRowDanContentLeft{position:relative; float:left; padding-top:80px; padding-left:140px; }
#contactUsRowDanContentRight{position:relative; float:right; padding-top:90px; padding-right:70px;}

#contactUsRowThirteenContent{position: relative; width:800px; }
#contactUsRowThirteenContentLeft{position:relative; float:left; padding-top:120px; padding-left:140px; }
#contactUsRowThirteenContentRight{position:relative; float:right; padding-top:50px; padding-right:50px;}

/* Atypical Day Page */
#atypicalDayMainContent{position:relative; height:2800px; width:700px; left:160px;}

#atypicalDayCampusPoliceDiv{position:absolute; width:140px; height:90px; top:100px; left:100px; z-index:30;}
#atypicalDayLibraryDiv{position:absolute; width:140px; height:100px; top:140px; left:250px; z-index:30;}
#atypicalDayHealthCenterDiv{position:absolute; width:120px; height:100px; top:140px; left:470px; z-index:30;}
#atypicalDayFratRowDiv{position:absolute; width:120px; height:90px; top:140px; left:600px; z-index:30;}
#atypicalDayCoffeeHouseDiv{position:absolute; width:150px; height:95px; top:280px; left:80px; z-index:30;}
#atypicalDayGymDiv{position:absolute; width:120px; height:70px; top:250px; left:240px; z-index:30;}
#atypicalDayStadiumDiv{position:absolute; width:200px; height:80px; top:320px; left:300px; z-index:30;}
#atypicalDayMCCDiv{position:absolute; width:100px; height:80px; top:260px; left:530px; z-index:30;}
#atypicalDayCounselingDiv{position:absolute; width:140px; height:90px; top:240px; left:640px; z-index:30;}
#atypicalDayYogaDiv{position:absolute; width:100px; height:160px; top:410px; left:230px; z-index:30;}
#atypicalDayHavenDiv{position:absolute; width:100px; height:160px; top:440px; left:335px; z-index:30;}
#atypicalDayPubDiv{position:absolute; width:110px; height:150px; top:400px; left:460px; z-index:30;}
#atypicalDayConductDiv{position:absolute; width:170px; height:150px; top:340px; left:590px; z-index:30;}
#atypicalDayHavenDiv{position:absolute; width:100px; height:190px; top:410px; left:340px; z-index:30;}

#atypicalDayCampusPoliceBubble{position:absolute; opacity:0; top:35px; left:190px; z-index:28; }
#atypicalDayLibraryBubble{position:absolute; opacity:0; width:140px; top:55px; left:245px; z-index:28;}
#atypicalDayHealthCenterBubble{position:absolute; opacity:0; top:50px; left:470px; z-index:28;}
#atypicalDayFratRowBubble{position:absolute; opacity:0; top:55px; left:600px; z-index:28;}
#atypicalDayCoffeeHouseBubble{position:absolute; opacity:0; top:190px; left:80px; z-index:28;}
#atypicalDayGymBubble{position:absolute; opacity:0; top:190px; left:305px; z-index:28;}
#atypicalDayStadiumBubble{position:absolute; opacity:0; top:220px; left:350px; z-index:28;}
#atypicalDayMCCBubble{position:absolute; opacity:0; top:160px; left:530px; z-index:28;}
#atypicalDayCounselingBubble{position:absolute; opacity:0; top:160px; left:640px; z-index:28;}
#atypicalDayYogaBubble{position:absolute; opacity:0; top:320px; left:220px; z-index:28;}
#atypicalDayPubBubble{position:absolute; opacity:0; top:290px; left:460px; z-index:28;}
#atypicalDayConductBubble{position:absolute; opacity:0; top:240px; left:630px; z-index:28;}
#atypicalDayHavenBubble{position:absolute; opacity:0; top:320px; left:330px; z-index:28;}

#atypicalDayRowOneContent{position:relative; top:90px; left:20px; width:670px; margin-left:auto; margin-right:auto; z-index:25;}
#atypicalDayHeaderTop{position:relative; width: 670px; height:50px; padding-top:10px; margin-left: 40px; padding-left:60px; z-index:25; background-color:#e7d100;}
#atypicalDayTop{position:relative; }
#atypicalDayHeaderBottom{position:relative; width: 670px; height:100px; padding-top:10px; margin-left: 40px; padding-left:60px; z-index:25; background-color:#e7d100;}

#atypicalDayRowTwoContent{position: relative; width:800px; }
#atypicalDayRowTwoContentLeft{position:relative; float:left; padding-top:180px; padding-bottom:20px; padding-left:130px; z-index:25;}
#atypicalDayRowTwoPageAnchor{position:absolute; top:450px; left:310px; z-index:20;}

#atypicalDayRowThreeContent{position: relative; width:800px; }
#atypicalDayRowThreeContentLeft{position:relative; float:left; padding-top:20px; padding-left:60px;}
#atypicalDayRowThreeContentRight{position:absolute; top:710px; left:450px; z-index:25;}

#atypicalDayRowFourContent{position: relative; width:800px; }
#atypicalDayRowFourContentLeft{position:relative; float:left; padding-top:70px; padding-left:140px; z-index:25;}
#atypicalDayRowFourContentRight{position:relative; float:right; padding-top:10px; padding-right:30px; z-index:25;}
#atypicalDayRowFourPageAnchor{position:absolute; top:1250px; left:310px; z-index:20;}

 
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/*
@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
/*}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
/*}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
